@font-face {
    font-family: Norse;
    src: url("./Norse-Bold.otf");
    font-weight: bold;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 140vh; 
    margin: 0px;
}
.left{
    background-image: url("./images/green.jpg");
    background-position: center;
    background-size:cover;
    width: 35%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-top: 40%;
    font-family: Norse;
    font-size: 5em;
    color: white;
    background-color: hsla(120, 0%, 0%, 0.6);
    padding: 3%;
}
.right{
    flex:1;
    background-color: whitesmoke;
}
.text{
    margin-left: 5%;
    margin-top: 13%;
    margin-bottom: 5%;
    margin-right: 20%;
    font-size: 1.25em;
    font-weight: bold;
}
#form{
    padding-left: 5%;
    padding-top: 2%;
    background-color: white;
    box-shadow: 0px 3px 5px rgb(192, 190, 190);
    height: 42vh;
    color: rgb(53, 52, 52);
}
#line{
    display: flex;
    margin: 2%;
    margin-left: 0%;
    font-size: small;
    gap: 10%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
label{
    display: block;
    letter-spacing: 1px;
    font-weight: 600;
}
#line input{
    border: 1px solid rgb(192, 190, 190);
    width: 20vw;
    padding: 0.5em;
    margin: 3px;
    margin-left: 0px;
    border-radius: 5px;
}
#line input:focus{
    border-color: blue;
    outline: 0px;
    box-shadow: 2px 2px 4px rgb(192, 190, 190);
}
#line input:invalid{
    border-color: red;
}
#passError{
    color:red;
}
button[type="submit"]{
    color: whitesmoke;
    background-color: #596D48;
    margin: 5%;
    margin-top: 4%;
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    width: 18vw;
    border: 0px;
    border-radius: 10px;
}
#foot{
    font-size: 1.1em;
    color: black;
    margin-left: 5%;
    margin-top: 0px;
}
